* {
    box-sizing: border-box;
}

img {
    width: 250px;
}
h1 {
    color: rgb(15, 88, 64);
}

p {
    font-size: larger;
    font-weight: bold;
    color: rgb(15, 88, 64);
}
button {
    font-size: larger;
    background-color:rgb(15, 88, 64) ;
    color: azure;
}
